* {
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-family: 'verdana', serif;
  
}

h1{Color: Blue;}

h2 {
  color: Orange;
}

h3{
  color:aquamarine;
}

body {
  background-color: blanchedalmond;
}
figure {
  max-width: 700px;
  background-color: purple;
  box-shadow: 1px 1px 7px black;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid rgb(119, 119, 119);
}
